html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: border-box;
}

/**
 * Let box-sizing be inherited from the html element
 *
 * @link https://github.com/AllThingsSmitty/css-protips#inherit-box-sizing
 */
*, *:before, *:after {
	box-sizing: inherit;
}

html,
body {
    color: $text-color;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $main-bg;
    height: 100%;
	line-height: 1.6;
    -webkit-text-size-adjust: none; /* Never autoresize text */
    @extend %default-font;
}

main {
	padding-top: $gutter-width;
	padding-left: $gutter-width/2;
	padding-right: $gutter-width/2;

	@media (min-width: $mobile-breakpoint) {
		float: right;
		width: calc(100% - #{$sidebar-width});
		padding-top: $header-height * 2;
		padding-left: $gutter-width;
		padding-right: $gutter-width;
	}
}

article {
	@include make-row;
}

.content-container {
	max-width: $content-max-width;
	padding: $gutter-width/2 $gutter-width/2;

	@media (min-width: $mobile-breakpoint) {
		width: percentage(8/12);
		right: percentage(4/12);
		padding: 0;
		@include make-column;
	}
}

.toc {
	@media (min-width: $mobile-breakpoint) {
		width: percentage(4/12);
		left: percentage(8/12);
		@include make-column;
	}
}

.header, .footer {
    /* needed for the floated layout */
    clear: both;
}
