.header {
	position: relative;
	z-index: 1000;
    width: 100%;
    background-color: $black;
    box-shadow: 0 3px 8px #aaacac;
	@include clearfix;

    @media (min-width: $header-breakpoint) {
        position: fixed;
        top: 0;
		height: $header-height;
    }
}

.logo-link {
    display: block;
    margin: auto 40px auto 15px;

	@media (min-width: $header-breakpoint) {
    	float: left;
    	width: 105px;
	}
}

#logo {
    height: $header-height;
	margin-bottom: 10px;

    img {
        float: left;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.nav--top {
    margin: 0 10px 10px 20px;
	@include clearfix;

	@media (min-width: $header-breakpoint) {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		float: right;
		margin: 0 10px;
	}

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

		@include clearfix;
    }

    li {
		display: inline-block;
		margin-right: 20px;
		vertical-align: middle;

		@media (min-width: 1360px) {
			margin-right: 64px;
		}
    }

    li:last-child {
        margin-right: 15px;
    }

    a {
		display: block;
        font-size: 0.9em;
        text-decoration: none;
        color: $white;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        letter-spacing: .5px;
		padding: 4px;

		&:hover, &:focus {
			color: $white;
			text-decoration: underline;
		}

		img {
			display: block;
		}
    }
}
