h1 {
    @extend %header-font;
    font-size: 2.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 0;
    color: $green;
    font-weight: $font-weight-normal;
    line-height: 1.2em;
}

article > h1 {
    margin-left: $gutter-width/2;
}

h1:first-child,
div:first-child + h1 {
    border-top-width: 0;
    margin-top: 0;
}

h2 {
    @extend %header-font;
    font-size: 24px;
    margin-bottom: .25em;
    margin-top: 1em;
    color: #474747;
    font-weight: $font-weight-normal;
    padding-top: .5em;
}

h3,
h4,
h5,
h6 {
    @extend %header-font;
    margin-top: 2em;
    margin-bottom: .75em;
    line-height: 1.2em;
}

h3 {
    font-size: 1.125em;
    font-weight: $font-weight-bold;
    margin-top: 1.5em;
    margin-bottom: .5em;
}

h4, .heading-4,
h6 {
    font-size: .875em;
    font-weight: $font-weight-bold;
    color: $green;
    margin-top: 2em;
    margin-bottom: .5em;
    text-transform: uppercase;
    letter-spacing: .3px;

    a {
        color: $green;
        opacity: .5;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
    }

    a:hover {
        color: $green;
        opacity: 1;
    }
}

h5 {
    font-size: .875em;
    font-weight: $font-weight-bold;
    color: $green;
    margin-top: .75em;
    margin-bottom: .5em;

    a {
        color: inherit;
    }

    code {
        color: $green;
    }
}
