.search-container {
	padding-left: 20px;
	margin-bottom: 20px;
	height: 2rem;

	@include clearfix;

	@media (min-width: $header-breakpoint) {
		position: relative;
		float: left;
		top: 50%;
		transform: translateY(-50%);
		margin-bottom: 0;
	}

	@media (min-width: 1190px) {
		padding-left: 70px;
	}
}

.search/*input*/ {
	overflow: hidden;
	display: block;
	float: left;
	width: 170px;
	height: 2rem;
	margin: 0;
	padding: 0 10px;
	border: 2px solid $green;
	outline: none;
	background: $white;
	color: $text-color;
	border-radius: 0; /* ios has a default border radius */
	-webkit-appearance: none;
	box-sizing: border-box !important;
}

.search-label {
	margin: 0 10px 0 0;
	padding: 0;
	line-height: 2rem;
	text-transform: uppercase;
	color: $white;
	font-size: 0.9em;
	font-weight: $font-weight-bold;
	vertical-align: middle;
	display: block;
	float: left;
}

.algolia-autocomplete {
	display: block !important;
	float: left;
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
	color: $green;
	background: rgba($green, 0.1);
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion:not(.suggestion-layout-simple) .algolia-docsearch-suggestion--content {
  background-color: rgba($green, 0.05);
}
