.search-container {
	padding-left: 20px;
	margin-bottom: 20px;

	@media (min-width: $header-breakpoint) {
		position: relative;
		float: left;
		top: 50%;
		transform: translateY(-50%);
		margin-bottom: 0;
	}

	@media (min-width: 1190px) {
		padding-left: 70px;
	}
}

.search {
	width: 170px;
	padding: 6px 10px;
	border: 2px solid $green;
	outline: none;
	background: $white;
	color: $text-color;
	border-radius: 0; /* ios has a default border radius */
	-webkit-appearance: none;
}

.search-label {
	display: block;
	margin: 6px 10px 0 0;
	text-transform: uppercase;
	color: $white;
	font-size: 0.9em;
	font-weight: $font-weight-bold;

	@media (min-width: $mobile-breakpoint) {
		vertical-align: middle;
		display: inline-block;
	}
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
	color: $green;
	background: rgba($green, 0.1);
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion:not(.suggestion-layout-simple) .algolia-docsearch-suggestion--content {
  background-color: rgba($green, 0.05);
}
