.sidebar {
	padding: $nav-padding $gutter-width/2 $gutter-width/2 $gutter-width/2;
    background-color: $grey-light;

    @media (min-width: $mobile-breakpoint) {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 0;
		width: $sidebar-width;

		overflow-y: auto;
		overflow-x: hidden;

		padding: ($header-height + $nav-padding) $nav-padding $nav-padding $nav-padding;
	}
}
