.toc {
	background: $grey-light;
	padding: $gutter-width/2;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	nav > ul > li > a {
		font-weight: $font-weight-bold;
	}

	nav > ul > li > ul {
		padding-left: 0;
	}

	ul ul {
		padding-left: 1em;
		margin-bottom: 0.75em;
	}

	a {
		display: block;
		color: $text-color;
		text-decoration: none;
		margin-bottom: 0.3em;

		&:hover, &:focus {
			color: $green;
			text-decoration: underline;
		}
	}
}

.toc__title {
	margin-top: 0;
}
