$black: #111;
$white: #fff;
$green: #169c65;
$pink: #a63db0;

$grey: #dddddd;
$grey-light: #f6f6f6;

$text-color: #333;

$link-color: $green;
$link-hover-color: darken($green, 10%);
$link-hover-decoration: underline;

$code-bg: #f9f9f9;
$main-bg: #ffffff;
$table-uneven-color: #f7f7f2;

$gutter-width: 60px;

$nav-padding: 20px; // padding to left and right of navbar

$header-height: 70px;
$sidebar-width: 240px;
$content-max-width: 800px;

$font-weight-normal: 400;
$font-weight-bold: 700;

%default-font {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
  font-size: 100%;
  line-height: 1.5em;
}

%header-font {
  @extend %default-font;
}

%code-font {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
  font-size: 13px;
  line-height: 1.5em;
}

////////////////////////////////////////////////////////////////////////////////
// INTERNAL
////////////////////////////////////////////////////////////////////////////////
// These settings are probably best left alone.

%break-words {
    word-break: break-all;
    hyphens: auto;
}
