

html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: border-box;

	scroll-padding-top: calc(#{$header-height} + 1em);
}

/**
 * Let box-sizing be inherited from the html element
 *
 * @link https://github.com/AllThingsSmitty/css-protips#inherit-box-sizing
 */
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	--text-color: #{$white};
	--bg-color: #{$main-bg};
	--version-note: #222;
	--link-color: #{$white};
	--link-border-color: #{$green-light};
	--header-bg-color: #{$black};
	--header-logo-text-color: #{$white};
	--header-logo-shape-color: #{$green-light};
	--sidebar-link-active-color: #{$green-light};
	--sidebar-border-color: #{$grey-dark};
	--sidebar-version-link-color: #{$white};
	--sidebar-version-link-hover-color: #{$black};
	--sidebar-version-link-hover-background-color: #{$white};
	--sidebar-version-link-border-color: #{$white};
	--sidebar-version-link-border-hover-color: #{$black};
	--theme-switcher-color: #{$white};
	--theme-switcher-indicator--dark-display: none;
	--theme-switcher-indicator--light-display: block;
	--version-note-link-color: #{$white};
	--version-note-link-border-color: #{$green-light};
	--toc-link-hover-color: #{$green-light};
	--code-background-color: #{$grey-dark};
	--code-link-border-color: #{$green-light};
	--table-code-text-color: var(--text-color);
	--headings-code-color: #{$green-light};
	--direct-link-hover-color: #{$green-light};
	--nav-mobile-toggle-color: #{$green-light};

	color: var(--text-color);
	background-color: var(--bg-color);
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	line-height: 1.6;
	-webkit-text-size-adjust: none; /* Never autoresize text */
	@include font-text;

	/*
	All colors that are applied to ligth theme should be defined here,
	and then use these custom properties in each components as needed.
	*/
	html[data-theme="light"] & {
		--text-color: #{$black};
		--link-color: #{$black};
		--link-border-color: #{$green};
		--toc-text-decoration: underline;
		--text-color-inverse: #{$white};
		--bg-color: #{$white};
		--version-note: #{$green};
		--header-bg-color: #{$white};
		--header-logo-text-color: #{$black};
		--header-logo-shape-color: #{$black};
		--sidebar-link-active-color: #{$green};
		--sidebar-border-color: #{$border-color};
		--sidebar-version-link-color: #{$black};
		--sidebar-version-link-hover-color: #{$white};
		--sidebar-version-link-hover-background-color: #{$green};
		--sidebar-version-link-border-color: #{$black};
		--sidebar-version-link-hover-border-color: #{$green};
		--theme-switcher-color: #{$black};
		--theme-switcher-indicator--dark-display: block;
		--theme-switcher-indicator--light-display: none;
		--version-note-link-color: #{$white};
		--version-note-link-border-color: #{$white};
		--toc-link-hover-color: #{$green};
		--code-background-color: #{$grey-lighter};
		--code-link-border-color: #{$green};
		--table-code-text-color: #{$green};
		--headings-code-color: #{$green};
		--direct-link-hover-color: #{$green};
		--nav-mobile-toggle-color: #{$black};
	}
}

.wrapper {
	@media (min-width: $mobile-breakpoint) {
		display: flex;
		flex: 1;
	}
}

.main-container {
	flex: 1;
	position: relative;
	z-index: 0;

	@media (min-width: $mobile-breakpoint) {
		width: calc(100% - #{$sidebar-width});
		margin-top: $header-height;
	}
}

main {
	padding: $gutter-width $gutter-width/2;

	@media (min-width: $mobile-breakpoint) {
		padding-top: 3em;
		padding-left: $gutter-width;
		padding-right: $gutter-width;
	}
}

article {
	& > * + * {
		margin-top: 1.5em;
	}
}

.content-container {
	max-width: $content-max-width;
	padding: $gutter-width/2 $gutter-width/2;

	@media (min-width: $mobile-breakpoint) {
		width: percentage(8/12);
		padding: 0 0 $gutter-width 0;
		@include make-column;

		.toc + & {
			right: percentage(4/12);
		}
	}
}

.anchor {
	margin-left: -24px;
}

.turbolinks-progress-bar {
	height: 2px;
	background-color: $green-light;
}
