.globalCallout {
	// background: $black;
	padding: 2em;
	max-width: 46em;
	border: 1px solid $grey;
	border-radius: 15px;

	h2 {
		color: $grey;
	}

	p {
		color: $grey;
		margin-bottom: 0;
	}

	a {
		color: $grey;
		font-weight: $font-weight-bold;
	}

	& > * + * {
		margin-top: 1.5em;
	}

	& > p + p {
		margin-top: 0.5em;
	}

	& + * {
		margin-top: $gutter-width;
	}
}
