.globalCallout {
	background: $yellow;
	padding: 2em;

	p {
		margin-bottom: 0;
	}

	a {
		font-weight: $font-weight-bold;
	}

	& > * + * {
		margin-top: 1.5em;
	}

	& > p + p {
		margin-top: 0.5em;
	}

	& + * {
		margin-top: $gutter-width;
	}
}
