code {
	color: $green-light;
	white-space: pre-wrap;
	text-transform: none;
	font-weight: $font-weight-normal;
	@include font-code;
}

p > code,
li code,
a > code {
	--background-color: #{$grey-dark};
	padding: 3px 5px;
	background: var(--background-color);
	color: var(--text-color);
	border-radius: 2px;

	[data-theme="light"] & {
		--background-color: #{$grey-lighter};
		--text-color: #{$black};
	}
}

p > code,
li > code {
	margin: 0 2px;
}

h1, h2, h3, h4, h5, h6 {
	code {
		font-size: inherit;
		// Keep color same as heading, although make it italic to stand out a bit.
		color: inherit;
		font-style: italic;
	}
}

a > code {
	--text-color: #{$green-light};
	color: var(--text-color);
	@include font-code;
	--border-color: #{$green-light};
	border-bottom: 1px solid var(--border-color);

	[data-theme="light"] & {
		--border-color: #{$green};
	}
}

a:has(> code){
	margin: 0 2px;
}

.method-name,
.method-name a,
.property-name {
	color: $green-light;
	@include font-code;
}

.method-type,
.method-type code,
.property-type, 
.property-type code{
	color: $purple;
	@include font-code;
}

table code {
	word-break: normal;
	color: var(--text-color);
	[data-theme="light"] & {
		--text-color: #{$green};
	}
}

pre > code {
	background-color: transparent;
	padding: 0;
}

pre {
	background-color: $code-bg;
	color: $text-color;
	border-radius: 4px;

	padding: 2em $gutter-width/2;
	margin: 5px 0 20px $gutter-width/-2;
	width: calc(100% + #{$gutter-width/2});

	clear: right;

	& > p {
		margin: 0;
	}

	@include font-code;
}
