code {
	color: var(--text-color);
	background-color: var(--code-background-color);
	white-space: pre-wrap;
	text-transform: none;
	font-weight: $font-weight-normal;
	padding: 3px 5px;
	border-radius: 2px;
	@include font-code;
}

a > code {
	border-bottom: 1px solid var(--code-link-border-color);

	&:hover {
	  // Increase border width so it has a clear hover style.
	  border-width: 2px;
	}
}

td code {
  background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
	code {
		font-size: inherit;
		// Keep color same as heading, although make it italic to stand out a bit.
		color: var(--headings-code-color);
		font-style: italic;
		background-color: transparent;
	}
}

a:has(> code){
	margin: 0 2px;
}

.method-name,
.method-name a,
.property-name {
	color: $green-light;
	@include font-code;
}

.method-type,
.method-type code,
.property-type,
.property-type code{
	color: $purple;
	@include font-code;
}

table code {
	word-break: normal;
	color: var(--table-code-text-color);
}

pre > code {
	background-color: transparent;
	padding: 0;
}

pre {
	background-color: $code-bg;
	color: $text-color;
	border-radius: 4px;

	padding: 2em $gutter-width/2;
	margin: 5px 0 20px $gutter-width/-2;
	width: calc(100% + #{$gutter-width/2});

	clear: right;

	& > p {
		margin: 0;
	}

	@include font-code;
}
