/* source-sans-pro-400normal - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Source Sans Pro Regular '),
    local('Source Sans Pro-Regular'),
    url('../fonts/source-sans-pro-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/source-sans-pro-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* source-sans-pro-400italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Source Sans Pro Regular italic'),
    local('Source Sans Pro-Regularitalic'),
    url('../fonts/source-sans-pro-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/source-sans-pro-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* source-sans-pro-700normal - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Source Sans Pro Bold '),
    local('Source Sans Pro-Bold'),
    url('../fonts/source-sans-pro-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/source-sans-pro-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* source-sans-pro-700italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Source Sans Pro Bold italic'),
    local('Source Sans Pro-Bolditalic'),
    url('../fonts/source-sans-pro-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/source-sans-pro-latin-700italic.woff') format('woff'); /* Modern Browsers */
}