/**
 * Make links inside headings inherit the style
 * of the heading.
 */
h1, h2, h3, h4, h5, h6,
.heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
	a {
		color: inherit;
		text-decoration: inherit;
		// border-bottom: 1px solid $green-light;
	}
}

// General links styling
a {
	color: var(--link-color);
	text-decoration: none;
	border-bottom: 1px solid var(--link-border-color);

	&:hover,
	&:focus {
		color: inherit;
		text-decoration: none;
	}
}

.directLink {
	color: $meta;
	visibility: hidden;

	&:hover, &:focus {
		color: var(--direct-link-hover-color);
		text-decoration: none;
	}
}

.content {
	h2, h3, h4, h5, h6 {
		&:hover, &:focus {
			.directLink {
				visibility: visible;
			}
		}
	}
}
