.navMain {
	padding-top: 1em;
	padding-bottom: 1em;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.navMain-section {
	& + & {
		margin-top: 2em;
	}
}

.navMain-title {
	color: $white;
	font-size: 0.85em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 1em;
}

.navMain-item {
	line-height: 1.1;
	padding-top: 0.4em;
	padding-bottom: 0.4em;

	ul {
		margin-left: 1em;
	}

	h2, h3, h4 {
		line-height: inherit;
		@include font-text;
	}
}

.navMain-link {
	display: block;
	text-decoration: none;
	color: $white;
	border-bottom: none;

	html[data-theme="light"] & {
		color: inherit;
	}

	&:hover, &:focus {
		// I believe for accessibilty consideration, we need to have underline.
		text-decoration: underline;
	}

	&[aria-current] {
		font-weight: $font-weight-bold;
		padding-top: 0.2em;
		padding-bottom: 0.3em;
		color: $green-light;
	}
}

.navMobileToggle,
.navClose {
	display: none;
	cursor: default;
}
