/**
 * prism.js theme for Timber
 * @author Lukas Gächter
 */

$prism-code: $text-color;
$prism-light: slategray;
$prism-string: $green; // #690;
$prism-symbol: #905;// #905;
$prism-keyword: $text-color; // #07a;
$prism-function: $pink;// #DD4A68;
$prism-property: $text-color;
$prism-tag: #07a;
$prism-attribute: #07a;
$prism-attribute-value: $green;

code[class*="language-"],
pre[class*="language-"] {
	color: $prism-code;
	background: none;
	text-shadow: 0 1px white;
	font-family: $font-family-code;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.8;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	margin-left: 0;
	margin-right: 0;
	padding: 1em;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

code.language-html {
	color: $grey-dark;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: $prism-light;
}

.token.punctuation {
	color: #999;
}

.tag .ld,
.tag .rd {
	.token.punctuation {
		font-weight: $font-weight-normal;
	}
}

.namespace {
	opacity: .7;
}

// HTML tags
.token .tag {
	color: $prism-tag;
}

.token .attr-name {
	color: $prism-attribute;
}

.token.property {
	color: $prism-property;
}

// Twig expressions
.tag .token.property {
	color: $prism-function;
}

.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: $prism-symbol;
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: $prism-string;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #9a6e3a;
}

.token.atrule,
.token.attr-value {
	color: $prism-attribute-value;
}

.token.keyword {
	color: $prism-keyword;
	font-weight: $font-weight-bold;
}

.token.function,
.token.class-name {
	color: $prism-function;
}

.token.regex,
.token.important {
	color: #e90;
}

// PHP opening tags
.token.delimiter.important {
	color: $prism-light;
	font-weight: $font-weight-bold;
}

// PHP variables
.token.variable {

}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
