.sidebar {
	padding: $nav-padding $gutter-width/2 $gutter-width/2 $gutter-width/2;
	background-color: $black;
	border-right: solid 1px rgba($grey-dark, 0.3);

	@media (min-width: $mobile-breakpoint) {
		position: sticky;
		top: $header-height;
		height: calc(100vh - #{$header-height});
		overflow-y: scroll;
	}

    @media (min-width: $header-breakpoint) {
		flex: 0 0 $sidebar-width;
		padding: 3em $nav-padding $nav-padding 4em;
	}
}

.sidebar__heading {
	font-size: 1em;
	text-transform: uppercase;
	color: $white;
	margin-bottom: 0;
	margin-top: 2em;
}

.navVersions {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		display: flex;

		& > * + * {
			margin-left: 0.5em;
		}
	}

	a {
		color: $white;
		display: block;
		border: 1px solid $white;
		border-radius: 100px;
		// padding: 0 0.5em;
		padding: 8px 15px 9px;
		font-weight: $font-weight-bold;
		text-decoration: none;

		&.is-current, &:hover, &:focus {
			background: $white;
			color: $black;
		}
	}
}
