.sidebar {
	padding: $nav-padding $gutter-width/2 $gutter-width/2 $gutter-width/2;
	background-color: var(--bg-color);
	border-right: solid 1px $grey-dark;

	html[data-theme="light"] & {
		border-right-color: $border-color;
	}

	@media (min-width: $mobile-breakpoint) {
		position: sticky;
		top: $header-height;
		height: calc(100vh - #{$header-height});
		overflow-y: scroll;
	}

    @media (min-width: $header-breakpoint) {
		flex: 0 0 $sidebar-width;
		padding: 3em $nav-padding $nav-padding 4em;
	}
}

.sidebar__heading {
	font-size: 1em;
	text-transform: uppercase;
	color: $white;
	margin-bottom: 0;
	margin-top: 2em;
}

.navVersions {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		display: flex;

		& > * + * {
			margin-left: 0.5em;
		}
	}

	a {
		color: $white;
		display: block;
		border: 1px solid $white;
		border-radius: 100px;
		padding: 8px 15px 9px;
		font-weight: $font-weight-bold;
		text-decoration: none;

		html[data-theme="light"] & {
			color: $black;
			border-color: $black;
		}

		&.is-current, &:hover, &:focus {
			background: $white;
			color: $black;

			html[data-theme="light"] & {
				background-color: $green;
				color: $white;
				border-color: $green;
			}
		}
	}
}
