table {
	margin: 2em 0;
	overflow: auto;
	width: 100%;
	display: table;
	border-collapse: collapse;

	th,
	td {
		text-align: left;
		vertical-align: top;
		line-height: 1.6em;
	}

	th {
		padding: 1em 0;
		border-bottom: 1px solid $white;
		letter-spacing: .05em;
	}

	td {
		padding: 1em 1em 1em 0;
	}

	tbody {
		tr {
			border-bottom: 1px solid $grey-dark;
		}
	}
}
