.themeSwitcher {
	background-color: transparent;
	border: none;
	margin-left: 1rem;
	cursor: pointer;
	
	&__indicator {
		width: 2.5em;
		height: 2.5em;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: 100%;
			height: 100%;
		}
	}
}

html[data-theme="light"] {
	.themeSwitcher {
		color: $black;

		&__indicator--light {
			display: none;
		}
	}
}

html[data-theme="dark"] {
	.themeSwitcher {
		color: $white;

		&__indicator--dark {
			display: none;
		}
	}
}