// $black: #031103;
$black: #000;
$white: #fff;
$green: #169c65;
$green-light: #54ffb9;
$orange: #FFB302;
$red: #EB3E41;
$blue: #2175FF;
$pink: #FFB3C9;
$yellow: #FADD1B;
$purple: #8E4CF8;

$grey: #858585;
$grey-light: #999;
$grey-dark: #161616;

$border-color: #dddddd;

$text-color: $white;
$headings-color: $white;

$meta: #888;

$sidebar-color: #4e4e49;

$link-color: $green-light;
// $link-hover-color: darken($green-light, 10%);
$link-hover-color: $green-light;

$code-bg: $grey-dark;
$main-bg: #000;
$table-header-bg: $grey;
$table-uneven-color: #f7f7f2;

$gutter-width: 60px;

$nav-padding: 20px; // Padding to left and right of navbar

$header-height: 4rem;
$sidebar-width: 20em;
$content-max-width: 800px;

$font-weight-normal: 400;
$font-weight-bold: 700;

$mobile-breakpoint: 980px;
$header-breakpoint: 1120px;

$font-family-text: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-code: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
