.version-note {
	background-color: #222;
	padding: 1em;
	margin: 1em;
	border-radius: 4px;

	html[data-theme="light"] & {
		background-color: $green;
		color: $white;

		a {
			color: $white;
			border-color: $white;
		}
	}

	p {
		margin: 0;
	}
}
