.version-note {
	background-color: var(--version-note);
	padding: 1em;
	margin: 1em;
	border-radius: 4px;
	color: var(--text-color-inverse, var(--text-color));

	a {
		color: inherit;
	}

	html[data-theme="light"] & {
		a {
			border-color: $white;
		}
	}

	p {
		margin: 0;
	}
}
