{% if archive.version %}
    {% set version = archive.version %}
{% endif %}

{% if not version %}
    {% set version = 1 %}
{% endif %}

{% include 'html-head.njk' %}

<body>
    {% include 'header.njk' %}

    <div class="wrapper">
        {% include 'sidebar.njk' %}

        <div class="main-container">
            {% include 'version-note.njk' %}

            <main>
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>

    {% include 'scripts-footer.njk' %}
</body>
