<!DOCTYPE html>
<html
    lang="{{ site.languageCode }}"
    {##
     # Dark theme for Algolia Docsearch.
     #
     # @link https://github.com/algolia/docsearch/blob/1219a68b6765959450bb54591d5cd2c2f3c7ca5c/packages/docsearch-css/src/_variables.css#L51
     ##}
    data-theme="dark"
>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126807198-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-126807198-1');
	</script>

	<title>{{ title ~ ' – ' if title }}{{ 'Timber v' ~ version ~ ' – ' if version }}{{ site.title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Algolia Meta Tags (https://docsearch.algolia.com/docs/required-configuration/#introduce-global-information-as-meta-tags) -->
    <meta name="docsearch:version" content="{{ getCurrentVersion(version, site.versions).slug }}" />

	<!-- Algolia Docsearch -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />

	<!-- Doc Styles -->
    <link rel="stylesheet" href="{{ '/build/css/styles.css'|manifest(mixManifest)|url }}">
    <link rel="stylesheet" href="{{ '/build/css/mobile.css'|manifest(mixManifest)|url }}" media="screen and (max-width: 979px)">

    <script src="{{ '/build/js/app.js'|manifest(mixManifest)|url }}" defer></script>

	{% include 'head/favicons.njk' %}
	{% include 'head/twitter.njk' %}
</head>
