{% extends 'base.njk' %}

{% block content %}
    <article>
        <h1>{{ title }}</h1>

        {% set toc = content|toc %}

        {% if toc and toc !== '<nav class="toc"></nav>' %}
            <aside>
                <h2 class="heading-small">On this page</h2>
                {{ toc|safe }}
            </aside>
        {% endif %}

        <div class="content">
            {{ content|safe }}
        </div>
    </article>
{% endblock %}
