<!-- Algolia Docsearch -->
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script>
  docsearch({
    appId: '7REN4GR6X4',
    apiKey: '9acbf22ef9a9b117a0f9ba50bd2f4280',
    /**
     * Timber config.
     *
     * @link https://github.com/algolia/docsearch-configs/blob/master/configs/timber.json
     */
    indexName: 'timber',
    container: '#docsearch',
    /**
     * Filter for different doc versions.
     *
     * @link https://www.algolia.com/doc/api-reference/api-parameters/facetFilters/
     */
    searchParameters: {
      facetFilters: ['version:{{ version }}']
    },
    // Set debug to true if you want to inspect the dropdown.
    // debug: true
  })
</script>
