<header class="header">
    <a class="logo-link" href="{{ .Site.BaseURL }}">
        <div id="logo">
            <img src="{{ .Site.BaseURL }}images/timberlogo.svg" alt="Timber" style="width:105px;height:30px;border:0">
        </div>
    </a>
    <nav class="nav nav--top" id="nav-top">
        <ul>
            <li>
                <a class="nav__link" href="http://upstatement.com/timber/" target="_blank" rel="noreferrer noopener">Timber Homepage</a>
            </li>
            <li>
                <a class="nav__link" href="http://twig.sensiolabs.org/doc/templates.html"
                   target="_blank" rel="noreferrer noopener">Twig Documentation</a>
            </li>
            <li><a class="nav__link" href="http://code.tutsplus.com/series/kick-start-wordpress-development-with-twig--cms-974"
                   target="_blank" rel="noreferrer noopener">Getting Started Tutorials</a>
            </li>
            <li>
                <a class="nav__link" href="https://github.com/timber/timber" target="_blank" rel="noreferrer noopener">
                    <img src="{{ .Site.BaseURL }}images/Github.png" alt="Star on Github" style="width:29px;height:29px;border:0">
                </a>
            </li>
        </ul>
    </nav>
</header>
