<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126807198-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-126807198-1');
	</script>

	<title>{{ .Title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Algolia Docsearch -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />

	<!-- Doc Styles -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css?{{ readFile "docs/css/styles.css" | md5 }}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i" rel="stylesheet">

    <!-- Favicon stuff -->
    <link rel="icon" href="{{ .Site.BaseURL }}favicons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ .Site.BaseURL }}favicons/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ .Site.BaseURL }}favicons/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ .Site.BaseURL }}favicons/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ .Site.BaseURL }}favicons/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ .Site.BaseURL }}favicons/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ .Site.BaseURL }}favicons/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ .Site.BaseURL }}favicons/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ .Site.BaseURL }}favicons/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}favicons/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}favicons/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}favicons/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}favicons/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}favicons/favicon-128.png" sizes="128x128" />
	<meta name="application-name" content="Timber Docs"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="{{ .Site.BaseURL }}favicons/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="{{ .Site.BaseURL }}favicons/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="{{ .Site.BaseURL }}favicons/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="{{ .Site.BaseURL }}favicons/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="{{ .Site.BaseURL }}favicons/mstile-310x310.png" />

</head>
